<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Summarization</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        .card {
            margin: 0 auto; 
            float: none; 
            margin-bottom: 10px; 
        }
        h2{
            margin: 80px;
            font-size: 50px;
            font-style: italic;
            font-family:'Times New Roman', Times, serif;
        }
    </style>
</head>
<body class="container">
    <h2><center>Machine learning course project !!</center></h2>
    <div class="card text-white bg-info mb-3 w-50">
        <div class="card-header text-center h3"> Group number - 12 </div>
        <div class="card-body">
          <h5 class="card-title">Group members: </h5>
          <p class="card-text text-center">1. Sayali Kadam  -->  B-33<br> 2. Shweta Lokhande  -->  B70<br> 3. Ayusha Shingvi  -->  D44<br> 4. Nishant Tekale  -->  D56<br> 5. Ayush Wagh  -->  D73</p>
        </div>
        <div class="card-footer text-center">
            <a href="/" class="btn btn-light">See Our Project</a>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>